.usePredictor .nextActionContainer { width: auto!important; padding-left:4px; padding-right: 4px; grid-template: "a b . c" / auto auto 1fr auto }
.usePredictor .nextActionContainer[style~='flex;'] {display: grid!important;}
.usePredictor .nextActionContainer > div:first-child { width: 70px; }
.usePredictor .nextActionContainer > div:nth-child(2) { width: 120px; text-align: right; grid-area: c }
.usePredictor .koviko.valid, .usePredictor .koviko.invalid { grid-area: b;pointer-events:auto }
:root:not(.responsive) .usePredictor #nextActionsList{height:100%!important; overflow-y:scroll;}
.usePredictor #curActionsListContainer{width:120px!important; z-index: 100;}
.usePredictor #nextActionsList:hover{margin-left:-40%;padding-left:40%}
.usePredictor #actionList>div:nth-child(2){left: 53px !important}
.usePredictor #nextActionsList.disabled ul.koviko{display:none;}
.usePredictor .nextActionContainer:nth-child(1n+9) .showthis {bottom: 5px; top: unset;}
.usePredictor span.koviko{font-weight:bold;color:#8293ff;}
.usePredictor div.koviko{top:-5px;left:auto;right:100%}
.usePredictor ul.koviko{list-style:none;margin:0;padding:0;pointer-events:none;display:inline;}
.usePredictor ul.koviko li{display:inline-block;margin: 0 2px;font-weight:bold;font-size:90%}
.usePredictor ul.koviko.invalid li{color:#c00!important}
.usePredictor ul.koviko.expired li, .usePredictor .expired .koviko{color:#777!important}
.usePredictor ul.koviko .mana{color:#8293ff}
.usePredictor ul.koviko .manaBought{color:#6371ca}
.usePredictor ul.koviko .gold{color:#d09249}
.usePredictor ul.koviko .rep{color:#b06f37}
.usePredictor ul.koviko .soul{color:#9d67cd}
.usePredictor ul.koviko .herbs{color:#4caf50}
.usePredictor ul.koviko .hide{color:#663300}
.usePredictor ul.koviko .potions{color:#00b2ee}
.usePredictor ul.koviko .lpotions{color:#436ef7}
.usePredictor ul.koviko .blood{color:#8b0000}
.usePredictor ul.koviko .crafts{color:#777777}
.usePredictor ul.koviko .adventures{color:#191919}
.usePredictor ul.koviko .ritual{color:#ff1493}
.usePredictor ul.koviko .artifacts{color:#ffd700}
.usePredictor ul.koviko .mind{color:#006400}
.usePredictor ul.koviko .stone{color:#ff0000}
.usePredictor ul.koviko .heroism{color:#ff0000}
.usePredictor ul.koviko .power{color:#0000ff}
.usePredictor ul.koviko .map{color:#2ea9bd}
.usePredictor ul.koviko .completedMap{color:#45e5ff}
.usePredictor ul.koviko .finLoops{color:#777777}
.usePredictor ul.koviko .heart{color:#ca0b0b}
.usePredictor ul.koviko .giants{color:#6ba9c4}
